@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

input:focus {
  outline: none;
}
a {
  color: white;
  text-decoration : none;
}

.navBar {
  /*마우스커서 안변하게, 드래그 금지*/
  user-select: fixed;
  background-color: rgb(59, 59, 59);
  /*위에 고정시키기*/
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100vw;
  margin-right: 1px;
  /**/
  display: flex;
  align-items: center;
  justify-content: space-around;  
  z-index: 2;
}

.siteName {
  color: white;
  font-size: calc(10px + 2vmin);
  cursor: default;
  margin-left: 20px;
  font-family: "Nova Square";
  text-align: left;
  width: 300px;
}

.searchBoxDiv {
  color: white;
}

.dropdown {
  position: relative;
  background-color: white;
}

.dropdown-toggle {
  cursor: pointer;
  /*색 설정*/
  background-color: rgb(59, 59, 59);
  color: rgba(243, 243, 243, 0.767);
  /*크기 설정*/
  width: 100%;
  /*버튼 테두리 제거*/
  height: 100px;
  border: 0px;
  outline: 0px;
  /*폰트*/
  font-size: large;
  font-family: "Nova Square";
  font-weight: 700;

}

.dropdown-menu {
  /*list에서 점 제거*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  /*위치 설정*/
  left: 20%;
  width: 180px;
  background-color: rgb(59, 59, 59);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-option {
  /*폰트설정*/
  color: white;
  font-weight: 700;
  font-size: medium;
  font-family: "Nova Square";
  /*버튼 테두리 제거*/
  background-color: rgb(59, 59, 59);
  border: none;
  outline: 0px;
  /**/
  width: 150px;
  height: 50px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  
}

.dropdown-option:hover {
  background-color: #1a232b;
}

.dropdown-toggle:hover {
  color: white;
}

.navButton {
  cursor: pointer;
  /*색 설정*/
  background-color: rgb(59, 59, 59);
  color: rgba(243, 243, 243, 0.767);
  /*크기 설정*/
  width: 120px;
  line-height: 69px;
  text-align: center;
  /*버튼 테두리 제거*/
  border: 0px;
  outline: 0px;
  /*폰트*/
  font-size: large;
  font-family: "Nova Square";
  font-weight: 700;
}

.navIcon {
  cursor: pointer;
  /*폰트설정*/
  color: white;
  font-weight: 700;
  font-size: medium;
  font-family: "Nova Square";
  /*버튼 테두리 제거*/
  background-color: rgb(59, 59, 59);
  border: 0px;
  outline: 0px;
  /**/
  padding: 0 20px 0 0;
  text-align: left;
}

.searchBox {
  float: right;
  width: 30vw;
  border-radius: 13px;
  height: 50px;
  margin-left: 10px;
  padding-left: 20px;
  font-weight: 300;
}

/*토글 버튼*/

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: rgba(163, 163, 163, 0.589);
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25px;
  height: 25px;
  border-radius: 45px;
  transition: 0.2s;
  background: rgb(176, 201, 255);
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: rgb(226, 142, 167);
}

.react-switch-label:active .react-switch-button {
  width: 0px;
}
