@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.homepage {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    background-color: rgb(48, 48, 48);
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.lamp {
    -webkit-user-drag: none;

    position: absolute;
    width: 200px;
    top: 96px;
    left: 600px;

  }
  
.image .light {
    -webkit-user-drag: none;

    position: absolute;
    width: 800px;
    left: 290px;
    top: 470px;
    opacity: 0;
    transition: opacity 1s;
    
  }

.light_on {
    -webkit-user-drag: none;
    
    position: absolute;
    width: 800px;
    left: 290px;
    top: 470px;
    opacity: 1;
    transition: opacity 1s;

  }

  .text {
    font-family: "Ubuntu";
    position: fixed;
    color: #fff;
    bottom: 400px;
    right: 200px;

  }
  
  .text_test {
    font-size: 20px;
  }
  
  .text h2 {
    font-size: 45px;
    font-weight: 800;
  }
