.footer_box {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100px;

  background-color: rgb(59,59,59);
  color: white;
  /*스크롤바 제거*/
  overflow: hidden;
  /*흰 공간제거*/
  margin: 0;
  bottom: 0;
}

.menu {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  bottom: 10px;
}

.information {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: right;
  font-weight: 800;
  font-size: 25px;
}

.information button {
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}